<div class="row">
<h1>Fire</h1>
<p>Find groups of new people to attend events with.</p>
<p>
  If you ever get excited about an exciting new event you found out about, but
  don't have anyone to go with, don't worry! FireEvents will pair you up with
  people who share similar interests and put you into a group chat together
  so you can get to know eachother before the event.
</p>
</div>
